encryptiondecryption/src/main/mule/encryptiondecryption.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="750e34e1-34aa-40ae-a07d-9da602d2f6ce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<crypto:pgp-config name="Crypto_Pgp1" doc:name="Crypto Pgp" doc:id="3bfaa669-e131-455b-b93f-3c34eea71355" privateKeyring="C:\Users\supri\OneDrive\Documents\pgp\Supriya Gujjari_0x8FE774BA_SECRET.gpg" publicKeyring="C:\Users\supri\OneDrive\Documents\pgp\Supriya Gujjari_0x8FE774BA_public.gpg">
		<crypto:pgp-key-infos >
			<crypto:pgp-asymmetric-key-info keyId="#[vars.p.keyid]" passphrase="#[vars.p.pp]" fingerprint="#[vars.p.fp]"/>
		</crypto:pgp-key-infos>
	</crypto:pgp-config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="79461e92-7f78-4fff-be21-be53b611876d" >
		<mongo:connection-string-connection connectionString="mongodb+srv://Supriya:Supriya@cluster0.gsrxovv.mongodb.net/mft" />
	</mongo:config>
	<flow name="encryptiondecryptionFlow1" doc:id="65159d60-4680-4d8c-9fe6-b2e459786c76" >
		<http:listener doc:name="Listener" doc:id="cfc62c3e-ffba-46a9-82c8-b7af7b45c5be" config-ref="HTTP_Listener_config2" path="/decrypt"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="06ec39fd-97c4-4d86-9ded-28e8123cb128" variableName="p"/>
		<file:read doc:name="Read" doc:id="f5110cb2-7674-4906-8e1d-c82eed779906" path="C:\Users\supri\OneDrive\Documents\pgp\encrypted.txt"/>
		<crypto:pgp-decrypt doc:name="Pgp decrypt" doc:id="417eb8c2-ca9d-47a9-823c-15ef21cb7276" config-ref="Crypto_Pgp1">
		</crypto:pgp-decrypt>
		<ee:transform doc:name="Transform Message" doc:id="8f34ce8e-0787-4e25-8251-13c24546ebeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="7ff69b15-79cb-4eed-a354-db401f44fb03" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Profile" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="43d5afc0-5cf7-45fa-9041-ab4978943948" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
ResponseData:payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<crypto:pgp-encrypt doc:name="Pgp encrypt" doc:id="4b43bfe4-3874-4a0d-b909-a35028ee7c1e" config-ref="Crypto_Pgp1" keyId="E774BA"/>
		<file:write doc:name="Write" doc:id="26294728-647a-43fe-af8a-f435c134e850" path="C:\Users\supri\OneDrive\Documents\pgp\decrypted.txt"/>
		<ee:transform doc:name="Transform Message" doc:id="9e4968f5-8120-4dad-999f-721ae8495aec" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
