ChildError/src/main/mule/childerror.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:muleapp="http://www.mulesoft.org/schema/mule/muleapp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/muleapp http://www.mulesoft.org/schema/mule/muleapp/current/mule-muleapp.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="6cee9643-aa8b-42bf-8f58-96465eb705f6" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="65e0d3a0-097e-47dd-bc7e-18bd834f22f6" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<muleapp:config name="MuleApp_Config" doc:name="MuleApp Config" doc:id="e30c5f48-91c6-4e1f-8006-91258bf275c4" >
		<muleapp:connection hostname="localhost" port="61616" username="xxxx" password="xxxxx" />
	</muleapp:config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="1834a008-c195-4d57-ba21-a2f0baa05f44" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="childerrorFlow" doc:id="409e3b5b-0653-4fb9-b07d-0632b50ed053" >
		<http:listener doc:name="Listener" doc:id="6da37af9-3755-4917-8045-51eedeac5f13" config-ref="HTTP_Listener_config2" path="/demo">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="f2695d04-72bc-45b3-80dd-01b16489f997" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="8658c1fb-ac36-46c9-aaae-31c001ad781d" message="#[payload]" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="894efb5a-84db-4bd6-8282-d49f93b6bfe2" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="cd167fca-13a5-4e38-8c3d-793f2a5add37" message="#[payload]"/>
				<file:write doc:name="Write" doc:id="ea301589-8601-469d-8404-78db7334d56f" config-ref="File_Config" path="C:\Users\supri\OneDrive\Documents\demo.txt" />
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="b027269c-7380-4411-9416-542b51a8cd25" message="#[payload]"/>
				<http:request method="POST" doc:name="Request" doc:id="a1a2ce21-30e3-4820-9f6c-38efe09128d7" config-ref="HTTP_Request_configuration" path="/test" />
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="6234030d-8e7b-4d1c-a382-0c86a7bf06e3" message="#[payload]" />
				<flow-ref doc:name="Flow Reference" doc:id="8dae42bc-f143-4ec7-92fe-8dd70c599181" name="childerrorSub_Flow" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="94e36495-5618-4aa9-aba4-e0786e2a3b36" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="52757134-1a02-4925-8fec-b963b78ad96c" >
				<muleapp:error-log doc:name="Error log" doc:id="b5027967-86f0-499c-952b-502c0433dad7" config-ref="MuleApp_Config"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<sub-flow name="childerrorSub_Flow" doc:id="24717eb9-1cf4-4116-bfe2-7f4f5844b60b" >
		<logger level="INFO" doc:name="Logger" doc:id="d8c7303f-6b6d-41e7-a5e9-08c37a5f4878" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="5bbc672c-48c1-49dc-bdc9-268ca478d106" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"msg":payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
