salesforce_integration/src/main/mule/salesforce_integration.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="salesforce_integration-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="salesforce_integration-config" api="salesforce_integration.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
	<flow name="salesforce_integration-main">
        <http:listener config-ref="salesforce_integration-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforce_integration-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="salesforce_integration-console">
        <http:listener config-ref="salesforce_integration-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce_integration-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\account\update\(id):salesforce_integration-config">
		<ee:transform doc:name="Transform Message" doc:id="6c13add3-b08a-4055-8c49-6653679a2356" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Id: attributes.uriParams.id,
	Name:payload.Name,
Coach__c:payload.Coach

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Team__c" doc:name="Update" doc:id="47f2aee8-ac07-4b0f-9e02-6b62a434ed18" config-ref="Salesforce_Config">
			<salesforce:records ><![CDATA[#[[payload]]]]></salesforce:records>
		</salesforce:update>
		<ee:transform doc:name="Transform Message" doc:id="849bd613-b91e-4df4-b25e-eaf4a5dfe47a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.successful]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\account\delete\(id):salesforce_integration-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[{
	id:attributes.uriParams.id
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="39efed03-d118-4de6-8cdc-7a806c951738" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[payload.id]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="Transform Message" doc:id="d90200f7-b54b-40da-8ef9-b3f5be838181" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload.items.payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\account\(id):salesforce_integration-config">
		<ee:transform doc:name="Transform Message" doc:id="7b1ef388-f707-41ed-a460-9b08ceab0992" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id:attributes.uriParams.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="cbcf3156-9578-426a-a0a6-d5788e1aacc3" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name,coach__c from Team__c where Id=':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	id:payload.id
	
	}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="efca1213-35df-4f70-8be1-2cdea192e763" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(account,index)->
{
	"Name":account.Name,
	"coach":account.Coach__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="6d901124-c640-4152-9a46-dc5a2b35d21e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\account:application\json:salesforce_integration-config">
		<ee:transform doc:name="Transform Message" doc:id="70b8fbce-6359-4127-b5f9-9de09d099eb8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	Name:payload.Name,
	Coach__c:payload.coach
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Team__c" doc:name="Create" doc:id="f4af6654-9857-4235-b493-b0bde89aad68" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="71547bb2-0d98-4902-a455-f01701b96141" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.items.payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
