Custom Connector (String Concatination) Example/src/main/mule/customconnectorstringconcatination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:Custom-concatstring="http://www.mulesoft.org/schema/mule/Custom-concatstring"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/Custom-concatstring http://www.mulesoft.org/schema/mule/Custom-concatstring/current/mule-Custom-concatstring.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0557945-ff72-4bd6-b5ec-6fe8ef7049d0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="customconnectorstringconcatinationFlow" doc:id="4bc088d8-1539-4cd6-a3b3-2b1783b63c15" >
		<http:listener doc:name="Listener" doc:id="1172e661-9c6d-4855-8cae-b9410840a1fc" config-ref="HTTP_Listener_config" path="/concat"/>
		<Custom-concatstring:concat doc:name="Concat" doc:id="3bb2ef1f-9606-4dad-900f-e3a3bcb9843c" firstname="#[payload.firstname]" lastname="#[payload.lastname]"/>
		<ee:transform doc:name="Transform Message" doc:id="67273df6-6b16-4e1d-bcdd-a9d298ba24bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Concatinated string":payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
